#Whitelist
/*
!/.minecraft
/.minecraft/*

#repo stuff
!/.gtihub
!/docs
!/artifacts
!/runners
!/LICENSE
!/README.md
!/CHANGELOG
!/build.sh
!/icon.png
!/.gitignore

#configs
!/.minecraft/config/
/.minecraft/config/agricraft/json/defaults/*
/.minecraft/config/enderio/recipes/*
/.minecraft/config/tellme/*
/.minecraft/config/jei/worldSettings.cfg
/.minecraft/config/jei/bookmarks.ini
/.minecraft/config/AppliedEnergistics2/items.csv
/.minecraft/config/AppliedEnergistics2/CustomRecipes.cfg
/.minecraft/config/AppliedEnergistics2/VersionChecker.cfg
/.minecraft/config/biomesoplenty/biomes/defaults/*
/.minecraft/config/biomesoplenty/biomes/Put biome config files here
/.minecraft/config/astralsorcery.cfg
/.minecraft/config/astralsorcery/amulet_enchantments.cfg
/.minecraft/config/advRocketry/advancedRocketry.cfg
/.minecraft/config/AE2Stuff/readme.txt
/.minecraft/config/vanillafix/methods-stable_39.csv
/.minecraft/config/brandon3055/contributors.json
/.minecraft/config/ichunutil_keybinds.cfg
/.minecraft/config/journeymap_ModInfo.cfg
/.minecraft/config/journeymap_server.cfg
/.minecraft/config/betterfps.json
/.minecraft/config/blur.cfg
/.minecraft/config/codechicken/supporters.json
/.minecraft/config/codechicken/supporters.marker
/.minecraft/config/enderio/painter_paint_sources_core.xml
/.minecraft/config/enderio/painter_paint_sources_user.xml
/.minecraft/config/jei/itemBlacklist.cfg
/.minecraft/config/Guide-API/Guide-API.cfg
/.minecraft/config/thaumicjei_itemstack_aspects.json
/.minecraft/config/splash.properties
/.minecraft/config/enderstorage.cfg
/.minecraft/config/topaddons.cfg
/.minecraft/config/InvTweaks.cfg
/.minecraft/config/fantasticlib/reference/sounds.txt
/.minecraft/config/fantasticlib/reference/recipes.txt
/.minecraft/config/fantasticlib/reference/potion_types.txt
/.minecraft/config/fantasticlib/reference/oredict.txt
/.minecraft/config/fantasticlib/reference/items.txt
/.minecraft/config/fantasticlib/reference/entities.txt
/.minecraft/config/fantasticlib/reference/enchantments.txt
/.minecraft/config/fantasticlib/reference/blockstates.txt
/.minecraft/config/fantasticlib/reference/blocks.txt

#other stuff
/.minecraft/scripts/.zsrc
!/.minecraft/resources
!/.minecraft/scripts
/.minecraft/scripts/nc_script_addons/*
!/.minecraft/structures

#pack stuff
/instance.cfg
/mmc-pack.json
!/modlist.html
!/manifest.json
!/.minecraft/icon.png

